{{#let
  (component @layers.marker)
  as |marker|}}
  <marker
    @location={{hash lat=@facility.lat lon=@facility.lon}}
    @icon={{this.icon}}
    @attribution="<a href='https://data.winnipeg.ca/Recreation/Arena/t3cz-kh3n'>Arenas</a>, <a href='https://data.winnipeg.ca/Libraries/Library/itub-a6x4'>Libraries</a>, <a href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Indoor/pnd5-29qy'>Indoor</a>/<a href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Outdoor/m7h5-by7s'>outdoor</a>/<a href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Wading/fe7p-u4s6'>wading</a> pools"
    @onClick={{action @onClick}}
    as |marker|>
    <marker.tooltip @sticky={{true}}>
      {{@facility.name}}
      {{#if @facility.closure}}<br>{{if @facility.syntheticClosure 'possible' 'proposed'}} closure {{moment-format @facility.closure "MMMM YYYY"}}{{/if}}
    </marker.tooltip>
  </marker>
{{/let}}