<BottomContainer @class="border-t border-blu">
  <img
    class="max-h-full object-contain"
    src={{@model.photoUrl}}
    alt={{@model.ward.properties.councillor}}
  >
  <div class="px-2 overflow-y-scroll text-gold bg-blu flex-grow">
    {{@model.ward.properties.name}}
    <br>
    {{@model.ward.properties.councillor}}
    <br>
    <a class="underline" href='tel:{{@model.phone}}'>{{@model.phone}}</a>
    <br>
    <a class="underline" href='mailto:{{@model.email}}'>{{@model.email}}</a>
    {{#if (or @model.wardCuts @model.facilityCuts)}}
      <h2 class="font-headline mt-2">cuts</h2>
      <ul>
        {{#each @model.wardCuts as |cut|}}
          <li>{{cut}}</li>
        {{/each}}
        {{#each @model.facilityCuts as |facility|}}
          <li>
            {{facility.name}}
            <ul class="pl-4">
              {{#each-in facility.cuts as |cut date|}}
                <li>{{cut}}: {{moment-format date "MMM ’YY"}}</li>
              {{/each-in}}
            </ul>
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if @model.closures}}
      <h2 class="font-headline mt-2">closures</h2>
      <ul>
        {{#each @model.closures as |closure|}}
          <li>
            {{closure.name}}: {{moment-format closure.closure "MMM ’YY"~}}
            {{#if closure.syntheticClosureDateString}}
              <span>*<EmberTooltip @text="The Community Services department proposes closing 47% of pools by 2023 but didn’t specify which, so pools were chosen based on proximity to others, and dates are chosen arbitrarily across the four years" /></span>
            {{/if}}
            {{#if closure.notes}}
              <span>*<EmberTooltip @text={{closure.notes}} /></span>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{#if @model.routeCuts}}
      <h2 class="font-headline mt-2">transit cuts</h2>
      <ul>
        {{#each @model.routeCuts as |cut|}}
          <li>{{cut}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</BottomContainer>