{{#let
  (icon iconUrl="/icons/library.svg" iconSize=(point 25 25))
  (icon iconUrl="/icons/swimming.svg" iconSize=(point 25 25))
  as |libraryIcon poolIcon|}}
  <LeafletMap @lat={{49.865307}} @lng={{-97.153342}} @zoom={{11}} class="map" as |layers|>
    <layers.tile @url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" />

    {{#each @model.libraries as |library|}}
      <layers.marker
        @location={{hash lat=library.lat lon=library.lon}}
        @opacity={{if (or (not library.closure) (is-after library.closure this.date)) 1 0.5}}
        @icon={{libraryIcon}}
        as |marker|>
        <marker.popup>{{library.name}}</marker.popup>
      </layers.marker>
    {{/each}}

    {{#each @model.pools as |pool|}}
      <layers.marker
        @location={{hash lat=pool.lat lon=pool.lon}}
        @opacity={{if (or (not pool.closure) (is-after pool.closure this.date)) 1 0.5}}
        @icon={{poolIcon}}
        as |marker|>
        <marker.popup>{{pool.name}}</marker.popup>
      </layers.marker>
    {{/each}}
  </LeafletMap>
{{/let}}

<div class="range-container">
  <input type="range"
    {{on "input" this.updateMonths}}
    min={{0}}
    max={{48}}
    value={{this.monthsSince2020}}
    steps="1">

  <span class="month">{{moment-format this.date "MMMM YYYY"}}</span>
</div>

<p>
  Sources (??):
  <ul>
    <li><a href="https://data.winnipeg.ca/Libraries/Library/itub-a6x4">Library positions</a></li>
    <li><a href="https://data.winnipeg.ca/Recreation/Swimming-Pool-Indoor/pnd5-29qy">Indoor pool positions</a></li>
    <li><a href="https://data.winnipeg.ca/Recreation/Swimming-Pool-Outdoor/m7h5-by7s">Outdoor pool positions</a></li>
    <li><a href="https://winnipeg.ca/interhom/Budget/2020Budget/pdfs/2020-Multi-year-Budget-Presentation_Community-Services_20191116.pdf">Library and pool closures</a></li>
    <li><a href="http://map-icons.com/">Map icons</a></li>
  </ul>
</p>

{{outlet}}