<div class="flex flex-col h-full">
  {{#let
    (icon iconUrl="/icons/library.svg" iconSize=(point 25 25))
    (icon iconUrl="/icons/swimming.svg" iconSize=(point 25 25))
    (icon iconUrl="/icons/x.svg" iconSize=(point 25 25))
    as |libraryIcon poolIcon xIcon|}}
    <LeafletMap @bounds={{if this.activeWard this.activeWard.properties.bounds @model.wards.properties.bounds}} class="w-full flex-grow" as |layers|>
      <layers.polyline
        @attribution="<a href='http://map-icons.com/'>Map icons</a>, <a href='https://winnipeg.ca/interhom/Budget/2020Budget/pdfs/2020-Multi-year-Budget-Presentation_Community-Services_20191116.pdf'>Closure data</a>, <a href='https://winnipeg.ca/council/'>Councillor photos</a> and <a href='https://data.winnipeg.ca/resource/r4tk-7dip.json'>contacts</a>"
        @locations={{this.emptyArray}}
      />
      {{!-- This is hackery to add more attributions --}}

      <layers.tile
        @url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
        @attribution='© <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors © <a href= "http://cartodb.com/attributions#basemaps">CartoDB</a>'
      />

      {{#each @model.wards.features as |ward|}}
        <layers.geoJSON
          @geoJSON={{ward}}
          @color={{if (eq this.activeWard.properties.name ward.properties.name) "blue" "grey"}}
          @attribution="<a href='https://data.winnipeg.ca/Council-Services/Electoral-Ward/ede3-teb8'>Wards</a>"
          @onClick={{action this.transitionToWardName ward.properties.name}}
          as |boundary|>
          <boundary.tooltip @sticky={{true}}>
            {{ward.properties.name}}
          </boundary.tooltip>
        </layers.geoJSON>
      {{/each}}

      {{#each this.filteredFacilities as |facility|}}
        <layers.marker
          @location={{hash lat=facility.lat lon=facility.lon}}
          @icon={{if (eq facility.type 'library') libraryIcon poolIcon}}
          @attribution="<a href='https://data.winnipeg.ca/Libraries/Library/itub-a6x4'>Libraries</a>, <a href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Indoor/pnd5-29qy'>Indoor</a>/<a href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Outdoor/m7h5-by7s'>outdoor</a> pools"
          @onClick={{action this.transitionToWardName facility.ward}}
          as |marker|>
          <marker.tooltip @sticky={{true}}>
            {{facility.name}}
            {{#if facility.closure}}<br>proposed closure {{moment-format facility.closure "MMMM YYYY"}}{{/if}}
          </marker.tooltip>
        </layers.marker>
        {{#if (and facility.closure (is-same-or-before facility.closure this.date))}}
          <layers.marker
            @location={{hash lat=facility.lat lon=facility.lon}}
            @icon={{xIcon}}
            @interactive={{false}}
          />
        {{/if}}
      {{/each}}
    </LeafletMap>
  {{/let}}

  <div class="flex p-4">
    {{#each this.facilityTypeStates as |typeAndState|}}
      <label class="pr-1">
        <Input @type="checkbox" @checked={{not typeAndState.hidden}} {{on "change" (fn this.toggleFacilityType typeAndState.type)}} />
        {{typeAndState.type}}
      </label>
    {{/each}}
  </div>

  <div class="flex p-4">
    <button type="button" class="mr-2 p-1 border border-black" {{on "click" (perform this.playTimeline)}}>
      {{if this.playTimeline.isRunning "…" "Play"}}
    </button>
    <input type="range"
      {{on "input" this.updateMonths}}
      min={{0}}
      max={{this.maximumMonth}}
      value={{this.monthsSince2020}}
      steps="1"
      class="flex-grow">

    <span class="text-right w-40">{{moment-format this.date "MMMM YYYY"}}</span>
  </div>

  {{outlet}}
</div>