<div class="flex flex-col h-full">
  {{#let
    (div-icon html="<img src='/markers/x.svg' class='rotate-scale-up'>" iconSize=(point this.markerLength this.markerLength))
    (div-icon html="<img src='/markers/x.svg' class='rotate-scale-up'>" iconSize=(point this.halfMarkerLength this.halfMarkerLength))
    as |xIcon smallXIcon|}}
    <LeafletMap
      @bounds={{if this.activeWard this.activeWard.properties.bounds @model.wards.properties.bounds}}
      class="w-full flex-grow"
      @onZoomend={{action this.zoomChanged}}
      as |layers|
    >
      <layers.tile
        @url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
        @attribution='<a href="/sources">Sources</a> | © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors © <a href= "http://cartodb.com/attributions#basemaps">CartoDB</a>'
      />

      {{#each this.sortedWards as |ward|}}
        <layers.geoJSON
          @geoJSON={{ward}}
          @color={{if (eq this.activeWard.properties.name ward.properties.name) "#2E368F" "#F9AE3A"}}
          @onClick={{action this.transitionToWardName ward.properties.name}}
          as |boundary|>
          <boundary.tooltip @sticky={{true}}>
            {{ward.properties.name}}
          </boundary.tooltip>
        </layers.geoJSON>
      {{/each}}

      {{#each this.filteredFacilities as |facility|}}
        <FacilityMarker
          @layers={{layers}}
          @facility={{facility}}
          @markerLength={{this.markerLength}}
          @onClick={{action this.transitionToWardName facility.ward}}
        />
        {{#if facility.closure}}
          {{#if (is-same-or-before facility.closure this.date)}}
            <layers.marker
              @location={{hash lat=facility.lat lon=facility.lon}}
              @icon={{if (eq facility.type 'wading-pool') smallXIcon xIcon}}
              @interactive={{false}}
              @class="rotate-scale-up"
            />
          {{/if}}
        {{/if}}
      {{/each}}

      <Helicopter
        @layers={{layers}}
        @markerLength={{this.markerLength}}
        @debug={{this.debug}}
      />
    </LeafletMap>
  {{/let}}

  <div class="leaflet-top leaflet-right">
    <div class="leaflet-control leaflet-bar bg-white">
      {{#if this.showMarkerControls}}
        <div class="p-2">
          {{#each this.facilityTypeStates as |typeAndState|}}
            <label class="pr-1">
              <Input @type="checkbox" @checked={{not typeAndState.hidden}} {{on "change" (fn this.toggleFacilityType typeAndState.type)}} />
              {{lowercase (pluralize (humanize typeAndState.type))}}
            </label>
            <br>
          {{/each}}
          <button type="button" class="border border-black p-1 mt-2 w-full" {{on "click" (fn (mut this.showMarkerControls) false)}}>Close</button>
        </div>
      {{else}}
        <button type="button" class="p-1 w-8 h-8" {{on "click" (fn (mut this.showMarkerControls) true)}}>
          <img class="w-full h-full" alt="toggle facility types" src="/icons/noun_checkboxes_992683.svg">
        </button>
      {{/if}}
    </div>
  </div>

  <div class="flex p-4">
    <button type="button" class="mr-2 p-1 border border-black" {{on "click" (perform this.playTimeline)}}>
      {{if this.playTimeline.isRunning "…" "Play"}}
    </button>
    <input type="range"
      {{on "input" this.updateMonths}}
      min={{0}}
      max={{this.maximumMonth}}
      value={{this.monthsSince2020}}
      steps="1"
      class="flex-grow">

    <span class="text-right w-40">{{moment-format this.date "MMMM YYYY"}}</span>
  </div>

    <SwiperContainer @pagination={{true}} @loop={{true}} @currentSlide={{this.slide}} @class="flex h-24 w-full">
      <SwiperSlide @class="flex h-full">
        <div class="bg-blu p-4 h-full">
          {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="h-full inline streetlight"}}
          {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="h-full inline streetlight"}}
          {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="h-full inline streetlight dimmed"}}
          {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="h-full inline streetlight"}}
          {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="h-full inline streetlight dimmed"}}
        </div>
        <div class="pl-4 bg-gold text-blu h-full flex-grow flex items-center">
          <span>
            <span class="font-headline text-2xl pr-2">cut</span>
            turning off two out of every five streetlights
          </span>
        </div>
      </SwiperSlide>
      <SwiperSlide @class="flex h-full">
        <div class="bg-blu p-4 h-full text-gold">
          {{svg-jar "noun_Bus_1540233" alt="bus" class="h-full inline stroke-current"}}
        </div>
        <div class="pl-4 bg-gold text-blu h-full flex-grow flex items-center">
          <span>
            <span class="font-headline text-2xl pr-2">cut</span>
            ending bus service an hour earlier on Saturdays and Sundays
          </span>
        </div>
      </SwiperSlide>
    </SwiperContainer>

  {{outlet}}
</div>