<div class="flex flex-col h-full">
  {{#let
    (div-icon html="<img src='/markers/x.svg' class='rotate-scale-up'>" iconSize=(point this.markerLength this.markerLength))
    (div-icon html="<img src='/markers/x.svg' class='rotate-scale-up'>" iconSize=(point this.halfMarkerLength this.halfMarkerLength))
    (div-icon html="<img src='/markers/slash.svg' class='rotate-scale-up'>" iconSize=(point this.markerLength this.markerLength))
    as |xIcon smallXIcon slashIcon|}}
    <LeafletMap
      @bounds={{this.mapBounds}}
      class="w-full flex-grow"
      @onZoomend={{action this.zoomChanged}}
      as |layers|
    >
      <layers.tile
        @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
        @attribution='<a href="/map/sources">Sources</a> | © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors © <a href= "http://cartodb.com/attributions#basemaps">CartoDB</a>'
      />

      {{#each this.sortedWards as |ward|}}
        <layers.geoJSON
          @geoJSON={{ward}}
          @color={{if (eq this.activeWard.properties.name ward.properties.name) "#2E368F" "#F9AE3A"}}
          @onClick={{action this.transitionToWardName ward.properties.name}}
          as |boundary|>
          <boundary.tooltip @sticky={{true}}>
            {{ward.properties.name}}
          </boundary.tooltip>
        </layers.geoJSON>
      {{/each}}

      {{#each this.filteredFacilities as |facility|}}
        <FacilityMarker
          @layers={{layers}}
          @facility={{facility}}
          @markerLength={{this.markerLength}}
          @onClick={{action this.transitionToWardName facility.ward}}
        />
        {{#if facility.closure}}
          {{#if (is-same-or-before facility.closure this.date)}}
            <layers.marker
              @location={{hash lat=facility.lat lon=facility.lon}}
              @icon={{if (eq facility.type 'wading-pool') smallXIcon xIcon}}
              @interactive={{false}}
              @class="rotate-scale-up"
            />
          {{/if}}
        {{/if}}
        {{#each-in facility.cuts as |cut date|}}
          {{#if (is-same-or-before date this.date)}}
            <layers.marker
              @location={{hash lat=facility.lat lon=facility.lon}}
              @icon={{slashIcon}}
              @interactive={{false}}
              @class="rotate-scale-up"
            />
          {{/if}}
        {{/each-in}}
      {{/each}}

      {{#unless this.hideHelicopter}}
        <Helicopter
          @layers={{layers}}
          @markerLength={{this.markerLength}}
          @debug={{this.debug}}
        />
      {{/unless}}

      {{#unless this.hideBus}}
        <Bus
          @layers={{layers}}
          @path={{@model.routes.glenway}}
          @markerLength={{this.markerLength}}
          @debug={{this.debug}}
        />
      {{/unless}}
    </LeafletMap>
  {{/let}}

  <div class="leaflet-top leaflet-right">
    <div class="leaflet-control leaflet-bar bg-white">
      {{#if this.showMarkerControls}}
        <div class="p-2">
          {{#each this.facilityTypeStates as |typeAndState|}}
            <label class="pr-1">
              <Input @type="checkbox" @checked={{not typeAndState.hidden}} {{on "change" (fn this.toggleFacilityType typeAndState.type)}} />
              {{lowercase (pluralize (humanize typeAndState.type))}}
            </label>
            <br>
          {{/each}}
          <button type="button" class="border border-black p-1 mt-2 w-full" {{on "click" (fn (mut this.showMarkerControls) false)}}>Close</button>
        </div>
      {{else}}
        <button type="button" class="p-1 w-8 h-8" {{on "click" (fn (mut this.showMarkerControls) true)}}>
          <img class="w-full h-full" alt="toggle facility types" src="/icons/noun_checkboxes_992683.svg">
        </button>
      {{/if}}
    </div>
  </div>

  <div class="leaflet-top leaflet-left" style="top: 62px">
    <div class="leaflet-control leaflet-bar bg-white">
      <LinkTo @route="index">
        <img class="w-full h-full" alt="go to homepage" src="/icons/home.svg" style="transform: scale(2)">
      </LinkTo>
    </div>
  </div>

  <div class="flex p-2 bg-gold text-blu border-b border-blu items-center">
    <button type="button" class="mr-2 px-2 py-1 bg-blu text-gold flex items-center border-blu border rounded" {{on "click" (perform this.playTimeline)}}>
      {{svg-jar "noun_play_631703" class="fill-current h-full inline mr-2 w-3" style="transform: scale(1.5)"}}
      <span>cuts over time</span>
    </button>
    <input type="range"
      {{on "input" this.updateMonths}}
      min={{0}}
      max={{this.maximumMonth}}
      value={{this.monthsSince2020}}
      steps="1"
      class="flex-grow">

    <span class="text-right w-16 ml-2">{{moment-format this.date "MMM ’YY"}}</span>
  </div>

  <SwiperContainer
    @pagination={{true}}
    @loop={{true}}
    @currentSlide={{this.slide}}
    @grabCursor={{true}}
    {{on "click" this.cancelSwiper}}
    @class="flex h-24 w-full"
  >
    <SwiperSlide @class="flex h-full">
      <div class="bg-blu h-full text-gold text-2xl flex items-center leisure">
        {{svg-jar "waste" alt="sewage dumping into a body of water" class="h-16 inline waste fill-current" width="100px"}}
      </div>
      <div class="pl-4 bg-gold text-blu h-full flex-grow flex items-center">
        <span>
          more sewage in rivers and backups into homes
        </span>
      </div>
    </SwiperSlide>
    <SwiperSlide @class="flex h-full">
      <div class="bg-blu p-4 h-full">
        {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="h-full inline streetlight dimmed"}}
        {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="sm:hidden h-full md:inline streetlight"}}
        {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="sm:hidden h-full md:inline streetlight"}}
        {{svg-jar "noun_streetlight_1345226" alt="streetlight" class="sm:hidden h-full md:inline streetlight"}}
      </div>
      <div class="pl-4 bg-gold text-blu h-full flex-grow flex items-center">
        <span>
          turning off almost ¼ of streetlights
        </span>
      </div>
    </SwiperSlide>
    <SwiperSlide @class="flex h-full">
      <div class="bg-blu p-4 flex items-center text-gold">
        {{svg-jar "bus-icon" alt="bus" class="bus fill-current"}}
      </div>
      <div class="pl-4 bg-gold text-blu h-full flex-grow flex items-center">
        <span>
          ending Mon-Sat bus service an hour earlier
        </span>
      </div>
    </SwiperSlide>
    <SwiperSlide @class="flex h-full">
      <div class="bg-blu h-full text-gold text-2xl flex items-center leisure">
        {{svg-jar "water" alt="water" class="h-16 inline water fill-current" width="80px"}}
      </div>
      <div class="pl-4 bg-gold text-blu h-full flex-grow flex items-center">
        <span>
          discontinuing annual water main cleaning
        </span>
      </div>
    </SwiperSlide>
    <SwiperSlide @class="flex h-full">
      <div class="bg-blu px-4 h-full text-gold text-2xl font-headline flex items-center threeoneone">
        <span><span class="flicker-two">31</span><span class="flicker-one">1</span></span>
      </div>
      <div class="pl-4 bg-gold text-blu h-full flex-grow flex items-center">
        <span>
          more waiting on hold, no desk at City Hall
        </span>
      </div>
    </SwiperSlide>
    <SwiperSlide @class="flex h-full">
      <div class="bg-blu h-full text-gold text-2xl  flex items-center leisure">
        {{svg-jar "palette" alt="bus" class="h-16 inline palette fill-current" width="100px"}}
      </div>
      <div class="pl-4 bg-gold text-blu h-full flex-grow flex items-center">
        <span>
          50% cut to Leisure Guide programming
        </span>
      </div>
    </SwiperSlide>
  </SwiperContainer>

  {{outlet}}
</div>