<div class="flex flex-row h-64">
  <img
    class="max-h-full object-contain"
    src={{@model.photoUrl}}
    alt={{@model.ward.properties.councillor}}
  >
  <div class="p-4">
    {{@model.ward.properties.name}}
    <br>
    {{@model.ward.properties.councillor}}
    <br>
    <a href='tel:{{@model.phone}}'>{{@model.phone}}</a>
    <br>
    <a href='mailto:{{@model.email}}'>{{@model.email}}</a>
    {{#if @model.closures}}
      <p>
        Closures:
        <ul>
          {{#each @model.closures as |closure|}}
            <li>{{closure.name}}: {{moment-format closure.closure "MMMM YYYY"}}</li>
          {{/each}}
        </ul>
      </p>
    {{/if}}
  </div>
</div>