<BottomContainer>
  <img
    class="max-h-full object-contain"
    src={{@model.photoUrl}}
    alt={{@model.ward.properties.councillor}}
  >
  <div class="px-2 overflow-y-scroll">
    {{@model.ward.properties.name}}
    <br>
    {{@model.ward.properties.councillor}}
    <br>
    <a class="underline" href='tel:{{@model.phone}}'>{{@model.phone}}</a>
    <br>
    <a class="underline" href='mailto:{{@model.email}}'>{{@model.email}}</a>
    {{#if @model.closures}}
      <p>
        Closures:
        <ul>
          {{#each @model.closures as |closure|}}
            <li>
              {{closure.name}}: {{moment-format closure.closure "MMMM YYYY"~}}
              {{#if closure.syntheticClosureDateString}}
                <span>*<EmberTooltip @text="The Community Services department proposes closing 47% of pools by 2023 but didn’t specify which, so pools were chosen based on proximity to others, and dates are chosen arbitrarily across the four years" /></span>
              {{/if}}
              {{#if closure.notes}}
                <span>*<EmberTooltip @text={{closure.notes}} /></span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </p>
    {{/if}}
  </div>
</BottomContainer>